@import 'variables.module.scss';

.wrapper {
  position: relative;
  &.about {
    background: $black;
    color: $white;
    padding-top: 80px;
    padding-bottom: 100px;
    h1 {
      text-align: center;
      margin-bottom: 48px;
    }
    p {
      text-align: center;
      line-height: 33px;
      margin-bottom: 160px;
    }
    ul {
      display: flex;
      @media only screen and (max-width: $break-medium) {
        // flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
      }
      li {
        padding: 50px 30px 0;
        background-position: 50% 0;
        background-repeat: no-repeat;
        background-size: 50px;
        text-align: center;
        @media only screen and (max-width: $break-large) {
          padding: 50px 8px 0;
        }
        @media only screen and (max-width: $break-medium) {
          flex-grow: 0;
          flex-shrink: 0;
          width: 50%;
          box-sizing: border-box;
          padding: 50px 32px 96px;
        }
        @media only screen and (max-width: $break-xsmall) {
          width: 100%;
          padding: 150px 0 120px;
          background-size: auto 30vw;
        }
        &.consulting {
          background-image: url('~assets/images/icon-consulting.svg');
        }
        &.analysis {
          background-image: url('~assets/images/icon-analysis-blue.svg');
        }
        &.training {
          background-image: url('~assets/images/icon-training-blue.svg');
        }
        &.strategy {
          background-image: url('~assets/images/icon-strategy-blue.svg');
        }
        &.support {
          background-image: url('~assets/images/icon-support.svg');
        }
        h2 {
          height: 60px;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          margin-bottom: 20px;
          padding-bottom: 20px;
          &:after {
            content: '';
            width: auto;
            height: 1px;
            background: #fff;
            position: absolute;
            bottom: 0;
            left: 37%;
            right: 37%;
          }
        }
        span {
          line-height: 25px;
        }
      }
    }
  }
  &.challenges {
    padding-top: 100px;
    background: $gray-bg-xx-light;
    color: $gray-text;
    h1 {
      text-align: center;
      margin-bottom: 125px;
    }
    ul {
      background-position: 50% 58%;
      background-repeat: no-repeat;
      background-size: 360px;
      background-image: url('~assets/images/challenging.svg');
      display: flex;
      flex-wrap: wrap;
      @media only screen and (max-width: $break-medium) {
        // background-attachment: fixed;
        // background-size: 80vw auto;
        // padding: 80vw 0 0;
        position: relative;
        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          // background: linear-gradient(to bottom, $gray-bg-xx-light, transparent 80vw, transparent calc(100% - 80vw), $gray-bg-xx-light);
        }
      }
      li {
        span {
          display: block;
          width: 355px;
          background: $white;
          padding: 8px 18px 24px 48px;
          width: 325px;
          box-sizing: border-box;
          box-shadow: 16px 16px 0 $gray-bg-light;
          line-height: 29px;
          @media only screen and (max-width: $break-medium) {
            font-size: 28px;
            line-height: 42px;
            width: 75%;
            margin-right: 0 !important;
            margin-left: auto !important;
            // border: 1px solid red;
          }
          @media only screen and (max-width: $break-small) {
            width: 100% !important;
            font-size: 24px;
            line-height: 32px;
          }
        }
        @media only screen and (max-width: $break-medium) {
          width: 100%;
          flex-basis: 100% !important;
          // border: 1px solid red;
          margin-bottom: 80vw !important;
          &:nth-child(2n + 1) {
            span {
              margin-left: 0 !important;
              margin-right: auto;
            }
          }
        }
        @media only screen and (max-width: $break-small) {
          margin-bottom: 100vw !important;
        }
        &:first-child {
          width: 100%;
          flex-basis: 100%;
          margin-bottom: 57px;
          span {
            margin: 0 auto;
          }
        }
        &:not(:first-child) {
          flex-basis: 50%;
          margin-bottom: 133px;
        }
        &:nth-child(2) {
          span {
            margin-right: auto;
            // margin-left: 86px;
            margin-left: 15%;
            @media only screen and (max-width: $break-large) {
              margin-left: 16px;
            }
          }
        }
        &:nth-child(3) {
          span {
            margin-right: calc(66px + 16px);
            margin-left: auto;
            @media only screen and (max-width: $break-large) {
              margin-right: 36px;
            }
          }
        }
        &:nth-child(4) {
          span {
            margin-right: auto;
            // margin-left: 70px;
            margin-left: 12%;
            @media only screen and (max-width: $break-large) {
              margin-left: 0;
            }
          }
        }
        &:nth-child(5) {
          span {
            margin-right: calc(46px + 16px);
            margin-left: auto;
            @media only screen and (max-width: $break-large) {
              margin-right: 16px;
            }
          }
        }
        &:nth-child(2n+1) {
        }
      }
    }
  }
}
