@import 'variables.scss';

.wrapper {
  position: relative;
  &.about {
    background: $black;
    color: $white;
    padding-bottom: 100px;
    h1 {
      text-align: center;
      margin-bottom: 48px;
    }
    p {
      text-align: center;
      line-height: 33px;
      margin-bottom: 160px;
    }
    u {
      position: relative;
      text-decoration: none;
      z-index: 1;
      &:after {
        content: '';
        position: absolute;
        left: -4px;
        bottom: 8px;
        width: calc(100% + 8px);
        height: 8px;
        background: $blue;
        z-index: -1;
      }
    }
    ul {
      display: flex;
      li {
        padding: 50px 30px 0;
        background-position: 50% 0;
        background-repeat: no-repeat;
        background-size: 50px;
        text-align: center;
        &.consulting {
          background-image: url('~assets/images/icon-consulting.svg');
        }
        &.analysis {
          background-image: url('~assets/images/icon-analysis-blue.svg');
        }
        &.training {
          background-image: url('~assets/images/icon-training-blue.svg');
        }
        &.strategy {
          background-image: url('~assets/images/icon-strategy-blue.svg');
        }
        &.support {
          background-image: url('~assets/images/icon-support.svg');
        }
        h2 {
          height: 60px;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          margin-bottom: 20px;
          padding-bottom: 20px;
          &:after {
            content: '';
            width: auto;
            height: 1px;
            background: #fff;
            position: absolute;
            bottom: 0;
            left: 37%;
            right: 37%;
          }
        }
        span {
          line-height: 25px;
        }
      }
    }
  }
  &.challenges {
    padding-top: 100px;
    background: $gray-bg-xx-light;
    color: $gray-text;
    h1 {
      text-align: center;
      margin-bottom: 125px;
    }
    ul {
      background-position: 50% 58%;
      background-repeat: no-repeat;
      background-size: 360px;
      background-image: url('~assets/images/challenging.svg');
      display: flex;
      flex-wrap: wrap;
      li {
        span {
          display: block;
          width: 355px;
          background: $white;
          padding: 8px 48px 24px;
          width: 355px;
          box-sizing: border-box;
          box-shadow: 16px 16px 0 $gray-bg-light;
          line-height: 29px;
        }
        &:first-child {
          width: 100%;
          flex-basis: 100%;
          margin-bottom: 57px;
          span {
            margin: 0 auto;
          }
        }
        &:not(:first-child) {
          flex-basis: 50%;
          margin-bottom: 133px;
        }
        &:nth-child(2) {
          span {
            margin-right: auto;
            margin-left: 86px;
          }
        }
        &:nth-child(3) {
          span {
            margin-right: calc(66px + 16px);
            margin-left: auto;
          }
        }
        &:nth-child(4) {
          span {
            margin-right: auto;
            margin-left: 70px;
          }
        }
        &:nth-child(5) {
          span {
            margin-right: calc(46px + 16px);
            margin-left: auto;
          }
        }
        &:nth-child(2n+1) {
        }
      }
    }

  }
}
.separator {
  position: relative;
  height: 170px;
  background: $gray-bg-xx-light;
  overflow: hidden;
  &:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    background-image: url('~assets/images/arrow-down.svg'), url('~assets/images/arrow-down.svg');
    background-repeat: no-repeat;
    background-position: 50% 30px, 50% calc(100% - 30px);
    background-size: 92px auto;
    z-index: 20;
  }
  &:after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    height: 0;
    border-top: 170px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 100vw solid $gray-bg-x-light;
    z-index: 10;
  }
}
