@import 'variables.module.scss';

.wrapper {
  min-height: 100vh;
  color: $white;
  background-color: $black;
  background-image: url('~assets/images/hero-cropped.jpg'), url('~assets/images/hero-repeat.png');
  background-position: 100% 0, 0 0;
  background-repeat: no-repeat, repeat;
  background-size: auto 100%, 1px 100%;
  @media only screen and (max-width: $break-small) {
    background-image: url('~assets/images/hero-cropped.jpg');
    background-size: 100% auto;
    text-align: center;
  }
  > div {
    padding-top: 236px !important;
    padding-bottom: 236px !important;
  }
  h1 {
    font-size: 40px;
    margin-bottom: 48px;
    @media only screen and (max-width: $break-large) {
      font-size: 32px;
    }
    @media only screen and (max-width: $break-small) {
      font-size: 30px;
      line-height: 36px;
    }
    &:last-of-type {
      margin-bottom: 80px;
    }
  }
  a {
    margin-right: 32px;
    @media only screen and (max-width: $break-small) {
      margin: 0;
      &:last-of-type {
        margin-top: 32px;
      }
    }
  }
}
