@import 'variables.scss';

.wrapper {
  background: $gray-bg-x-light;
  padding: 100px 0;
  h1 {
    text-align: center;
    margin-bottom: 48px;
  }
  p {
    text-align: center;
    line-height: 33px;
    margin-bottom: 130px;
  }
  ul.steps {
    > li {
      background-repeat: no-repeat;
      background-size: 100px auto;
      &:nth-child(1) {
        padding-right: 50%;
        background-image: url('~assets/images/process-analysis.svg');
        background-position: 100% 0;
        background-size: calc(50% - 128px) auto;
      }
      &:nth-child(2) {
        padding-left: 50%;
        background-image: url('~assets/images/process-training-1.svg'), url('~assets/images/process-training-2.svg'), url('~assets/images/process-training-3.svg');
        background-position: 0 0, 100px 200px, 0px 300px;
        background-size: calc(50% - 128px) auto, calc(25% - 128px) auto, calc(33% - 128px) auto;
      }
      &:nth-child(3) {
        padding-right: 50%;
        background-image: url('~assets/images/process-strategy.svg');
        background-position: 100% 0;
        background-size: calc(50% - 128px) auto;
      }
    }
  }
}
