@import-normalize;

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  width: 960px;
  // padding: 32px;
  margin: 0 auto;
}
header {
}

footer {
}


ul, ol, li, h1, h2, h3, h4, h5, h6, p, dl, dt, dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

section {
  border: 1px solid red;
}

.grid {
  display: flex;
  flex-direction: row;
  .col {
    &:first-child {
    }
    &:last-child {
    }
  }
}
