@import-normalize;
@import 'variables.module.scss';
@import url('https://use.typekit.net/cpv8rdp.css');

body {
  font-family: sweet-sans-pro, sans-serif;
  font-weight: 700;
  font-size: 20px;
}
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  width: 100%;
  // padding: 32px;
  margin: 0 auto;
}
header {
}

footer {
  background: $black;
}

ul, ol, li, h1, h2, h3, h4, h5, h6, p, dl, dt, dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1 {
  font-size: 42px;
  line-height: 51px;
  font-weight: 800;
}
h2 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 800;
}
h3 {
  font-size: 36px;
  line-height: 51px;
  font-weight: 800;
}
b,
strong {
  font-weight: 800;
}

header,
footer {
  display: flex;
  justify-content: center;
}

.main > section {
  width: 100%;
  display: flex;
  justify-content: center;
}

.main > section,
header,
footer {
  > .content {
    width: 1320px;
    padding: 0 16px;
    @media only screen and (max-width: $break-large) {
      padding: 0 32px;
    }
    // border-left: 1px dashed $red;
    // border-right: 1px dashed $red;
  }
}

button {
  background: transparent;
  color: inherit;
  width: 300px;
  display: block;
  padding: 12px 0;
  text-align: center;
  font-size: 22px;
  border: 1px solid $white;
  font-family: sweet-sans-pro, sans-serif;
  &:focus,
  &.active {
    outline: none;
  }
}

a {
  color: $white;
  text-decoration: none;
  transition: $ease-100;
  &.button {
    display: inline-block;
    width: 250px;
    padding: 16px 0;
    text-align: center;
    border-radius: 10px;
    font-size: 20px;
    transform-origin: center center;
    transition: $ease-200;
    @media only screen and (max-width: $break-medium) {
      width: auto;
      padding: 16px 32px;
    }
    &:hover {
      transform: scale(1.05);
    }
  }
  &.light {
    background: $white;
    color: $black;
    border: 2px solid $white;
    &:hover {
      // background: $black;
      // color: $white;
    }
    &.transparent {
      color: $white;
    }
  }
  &.dark {
    background: $black;
    color: $white;
    border: 2px solid $black;
    &:hover {
      // background: $white;
      // color: $black;
    }
    &.transparent {
      color: $black;
    }
  }
  &.transparent {
    background: transparent !important;
  }
}

u {
  position: relative;
  text-decoration: none;
  z-index: 1;
  &:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 8px;
    width: calc(100%);
    height: 8px;
    background: $blue;
    z-index: -1;
  }
}

textarea,
select {
  font-family: sweet-sans-pro, sans-serif;
}
