$white: #fff;
$black: #000;
$red: #E52626;
$blue: #00A2E9;
$gray-text: #333;
$gray-bg-dark: #333;
$gray-bg-light: #EAEBEB;
$gray-bg-x-light: #EBECED;
$gray-bg-xx-light: #F8F8F8;
$ease-100: all ease 100ms;
