@import 'variables.module.scss';

.wrapper {
  background: $gray-bg-xx-light;
  color: $gray-text;
  padding: 100px 0;
  h1 {
    text-align: center;
    margin-bottom: 100px;
  }
  dl {
    font-size: 22px;
    line-height: 33px;
    dt {
      padding-left: 32px;
      position: relative;
      &:first-child {
        border-top: 1px solid $gray-bg-dark;
      }
      span {
        &:first-child {
          padding: 24px 0;
          display: inline-block;
          margin-bottom: -1px;
          border-bottom: 1px solid $gray-bg-dark;
        }
        &:last-child {
          width: 24px;
          height: 24px;
          position: absolute;
          top: 28px;
          right: 40px;
          cursor: pointer;
          // background-image:
          //   linear-gradient(to bottom, transparent 11px, $gray-bg-dark 11px, $gray-bg-dark 13px, transparent 13px),
          //   linear-gradient(to right, transparent 11px, $gray-bg-dark 11px, $gray-bg-dark 13px, transparent 13px);
          transform-origin: center center;
          transition: $ease-200;
          &:hover {
            transform: scale(1.2);
          }
          &:before,
          &:after {
            content: '';
            position: absolute;
            background: $gray-bg-dark;
            transition: transform 200ms ease;
          }
          &:before {
            width: 2px;
            height: 24px;
            top: 0;
            left: 11px;
            transform-origin: center;
            transform: scaleY(0);
          }
          &:after {
            width: 24px;
            height: 2px;
            top: 11px;
            left: 0;
          }
        }
      }
      &.collapsed {
        span:before {
          transform: scaleY(1);
        }
      }
    }
    dd {
      border-bottom: 1px solid $gray-bg-dark;
      // dt.collapsed + & {
      //   height: 0;
      //   overflow: hidden;
      //   transition: height 200ms ease;
      // }
      span {
        display: block;
        padding: 24px 104px 64px 64px;
      }
    }
    dt.collapsed + dd {
      height: 0;
      overflow: hidden;
      transition: height 200ms ease;
    }
    a {
      display: block;
      margin: 64px auto;
    }
    .hidden {
      display: none;
    }
  }
}
.separator {
  position: relative;
  height: 170px;
  background: $gray-bg-xx-light;
  overflow: hidden;
  &:after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    height: 0;
    border-top: 170px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 100vw solid $black;
    z-index: 10;
  }
}
